.title_fz12s {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.title_fz12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.title_fz14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.title_fz14b {
  font-size: 14px;
  font-style: bold;
  font-weight: 500;
  line-height: 21px;
}
.title_fz16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.title_fz16b {
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
  line-height: 30px;
}
.title_fz20 {
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  line-height: 30px;
}

.title_fz48 {
  font-size: 48px;
  font-style: bold;
  font-weight: 700;
  line-height: 60px;
}

.title__section__title {
  text-align: center;
  position: relative;
  z-index: 2;
}

.title__section__title:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}
