.hamburger {
  position: fixed;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: var(--color-grey-500);
}

.hamburger span.long {
  width: 36px;
  height: 3px;
}

.hamburger span:hover {
  background: var(--main-color);
}
