.promo {
  min-height: 100vh;
  position: relative;
  background-color: var(--color-grey-100);
  padding-top: 206px;
  padding-left: 50px;
}

.promo__title {
  width: 45rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 2px var(--color-grey-500);
}

.promo__subtitle {
  position: relative;
  padding-left: 10px;
  z-index: 2;
}
.promo__subtitle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--main-color);
}

.promo__contacts {
  display: flex;
  width: 30rem;
  margin-bottom: 1rem;
}

.promo__contacts a {
  text-decoration: none;
}

.promo__phone,
.promo__email {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding-right: 10px;
}

.promo__phone:hover,
.promo__email:hover {
  color: var(--main-color);
}

.promo__svg {
  min-width: 40px;
  width: 40px;
  fill: var(--text-color);
}

.promo__btns {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.promo__link {
  color: var(--text--color-invert);
  text-decoration: none;
  background-color: var(--color-blue-500);
}

.promo__link:hover {
  color: var(--main-color);
}
